<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="bg-dark py-5">
    <div class="container text-white">
        <div class="row">
            <div class="col-md-2">
                
                <h3><i class="fa fa-connectdevelop fa-2x"></i><b> RentCar</b></h3>
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li class="text-muted mb-3"><b><small>ŞİRKET</small></b></li>
                    <li>Hakkında</li>
                    <li>Haberler</li>
                    <li>İletişim</li>
                </ul>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4" >
                
                <br>
                <br>
                <i class="fa fa-github fa-2x mx-4" aria-hidden="true"></i>
                <i class="fa fa-linkedin fa-2x mx-4" aria-hidden="true"></i>
                <i class="fa fa-twitter fa-2x mx-4" aria-hidden="true"></i>
                
                
            </div>
    
        </div>
    </div>
</footer>
    
