<!-- <div *ngIf = "dataLoaded==false" class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div> -->

 <!--  <div class="mb-3">
    <label for="filterText" class="form-label">Araç ara</label>
    <input type="text"[(ngModel)]="filterText" class="form-control" id="filterText"
     placeholder="arama ifadesi giriniz">
  </div>

  <div *ngIf="filterText.length>2" class="aler alert-secondary">
    {{filterText}} aradınız
  </div> -->

 <!-- <table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>BID</th>
            <th>CID</th> 
            <th>Araç </th>
            <th>Model Yılı</th>
            <th>Günlük Fiyatı</th>
            <th>Kdv'li Fiyatı</th>
            <th>Açıklama</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let carDetail of carDetails | filterPipe:filterText">
        <td>{{carDetail.carId}}</td>
        <td>{{carDetail.brandName}}</td>
        <td>{{carDetail.colorName}}</td>
        <td>{{carDetail.brandId</td>
        <td>{{carDetail.colorId</td> 
        <td>{{carDetail.carName | uppercase}}</td>
        <td>{{carDetail.modelYear}}</td>
        <td>{{carDetail.dailyPrice | currency }}</td>
        <td>{{carDetail.dailyPrice | vatAdded:10 | currency}}</td>
        <td>{{carDetail.description}}</td> -->
     <!--    <td>
          <button  routerLink="/car/{{car.carId}}" style="background-color: rgb(201, 241, 119);" class="btn btn-outline-success" >Detaylar..</button>
        </td> -->
        
        <!-- <td><button (click)="addToCart(carDetail)" type="button" class="btn btn-success">Sepete ekle</button></td> -->
  <!--   </tr>
    </tbody>
</table> -->
<!-- <div class="card-body">
  <button  routerLink="/carDetails/{{carDetail.carId}}" style="background-color: rgb(201, 241, 119);" class="btn btn-outline-success" >Detaylar..</button>
 
</div>
 -->

 <!-- <app-car></app-car>
<div class="row">
<div *ngFor="let carDetail of carDetails"  class="card text-dark bg-light mb-2" style="max-width: 22rem;">
  <img  src="{{imageBasePath}}{{carDetail.imagePath}}" class="card-img-top" alt="thumbnail" width="100" height="200">
  <div class="card-body">
    <h5 class="card-title">{{carDetail.brandName}} {{carDetail.carName}}</h5>
    <p class="card-text">{{carDetail.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Renk: {{carDetail.colorName}} </li>
    <li class="list-group-item">Model: {{carDetail.modelYear}}</li>
    <li class="list-group-item">Günlük Fiyat: {{carDetail.dailyPrice}}</li>
  </ul>
  <div class="card-body">
    <div class="d-grid gap-2 col-8 mx-auto">
      <button   (click)="setCurrentCarDetails(nullCar)" routerLink="/car/details/{{carDetail.carId}}" class="btn btn-outline-dark" type="button">Detaya Git</button>
    </div>
  </div>
</div>
</div>
<br>
 -->

 <!-- <div *ngIf="dataLoaded==true" class="container-fluid px-xxl-5 mt-2">
  <div class="car-details-section">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      
  
      <div class="carousel-inner">
  
        <div *ngFor="let img of carImg" [class]=getCurrentCarouselClass(img.carImageId) >
          <img [src]="'ApiUr'+'img.imagePath'" [attr.imgId]="img.carImageId" class="d-block w-100" alt="...">
        </div>
  
      
      </div>
  
      <button (click)="prevBtn()" class="carousel-control-prev" type="button" >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="control-prev-icon-hover"></span>
      </button>
      <button (click)="nextBtn()" class="carousel-control-next" type="button" >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="control-next-icon-hover"></span>
      </button>
  
    </div>
    <div class="carousel-indicators">
  
      <div [class]=getCurrentCarouselmenuClass(img.carImageId) *ngFor="let img of carImg">
            <img (click)="setCurrentImg(img.carImageId)" [src]=ApiUr.concat(img.imagePath) [attr.imgId]="img.carImageId" class="d-block carousel-menu-img" alt="...">
      </div>
  
     
    </div>
  
  
  </div>
  </div> -->

  <div class="card rounded-0 mt-4">
    <div class="card-header text-center rounded-0 mt-4">
      <div class="card-body">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner  d-flex "
             style="height: 50vh; min-height: 20rem; max-height: 30rem">
    
              <div *ngFor="let image of carImg; index as i; first as firstImage"
              
              class="carousel-item align-self-center"
                [ngClass]="{ active: firstImage }"
              style="height: 100%; width: 100%">
                 <img
              src="https://localhost:44382/{{image.imagePath}}"
              class=""
              style="height: 100%; width: 100%; object-fit: contain"
              alt="imageUrl + image.imagePath"
            />
              </div>
             </div>
              <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    
        </div>
    </div>
        <div> </div>
        <div style="text-align:center"  aria-current="true" *ngIf="carDetails"><h4>
            {{carDetails.brandName}} -- {{carDetails.description}}
        </h4></div>
    <table class="table">
       
        <thead>
            <tr>
                <th>Id</th>
                <th>Marka</th>
                <th>Renk</th>
                <th>Model Yılı</th>
                <th>Fiyat</th>
                <th>Açıklama</th>
                <th>Kirala..</th>
                
     
            </tr>
        </thead>
        <tr *ngIf="carDetails" >
            <td>{{carDetails.carId}} </td>
            <td>{{carDetails.brandName}}</td>
            <td>{{carDetails.colorName}}</td>
            <td>{{carDetails.modelYear}}</td>
            <td>{{carDetails.dailyPrice}}</td>
            <td>{{carDetails.description}}</td>
            <td ><button routerLink="/cars/rental/{{carDetails.carId}}"  type="button" class="btn btn-outline-success">Kirala</button></td>
          
            
        </tr>
        </table>