<section class="banner" id="top">
  <div  class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="banner-caption">
          
          <h2><b>Best Finder For You</b></h2>
          <span id="banneraciklama"><b>En iyi araç kiralama şirketi olarak sizlerin yanınızdayız...</b></span>
        </div>
      </div>
    
    
    
      <div class="my-3" id="ara">
        <i class="fas fa-search fa-2x"></i>    
        <label  for="filterText" class="form-label ms-2 fs-4 fw-bolder 1h-lg">Araç Ara</label>
        <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="B · Rent a Car'da Araç Ara...">
        
      </div>
      <div id="ara2" *ngIf="filterText.length>2" class="aler alert-secondary">
        {{filterText}} aradınız
      </div>
      

    </div>

    
  </div>


</section>

<div  class="container">
	<div class="row clearfix">
		<div id="cars-left-menu" class="col-xs-12 col-sm-12 col-md-3">
			<ul>
				<app-brand></app-brand>
				<app-color></app-color>
        
			</ul>
		</div>

    <div class="col-xs-12 col-sm-12 col-md-9">
      <div id="car-tab" class="row clearfix">
            <div *ngIf="dataLoaded==false"  class="d-flex justify-content-center">
              <div class="spinner-border text-dark" role="status">
                <span class="visually-hidden"></span>
              </div>
            </div>

      <div *ngIf="dataLoaded==true" class="row">
        <div *ngFor="let car of cars | filterPipe:filterText" class="card text-dark bg-light mb-2" style="max-width: 22rem;">
          <img src="{{ApiUr}}{{car.imagePath}}" class="card-img-top" alt="thumbnail" width="100" height="200">
          <div class="card-body" >
              <h4 class="car-name txt">{{ car.carName }}</h4>
              <p class="car-desc txt">{{ car.description }}</p>
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item" >MARKA : {{car.brandName}}</li>
              <li class="list-group-item" >RENK : {{car.colorName}}</li>
              <li class="list-group-item">Günlük Fiyatı : {{car.dailyPrice}} ₺</li>
          </ul>
          <div class="card-body">
              <a class="car-btn" routerLink="/cars/{{car.carId}}" >MODELİ DETAYLI İNCELE</a>
          </div>
          
        </div>
      </div>
    
      </div>
    
    </div>
    
    </div>
    
    </div>
    
